POSTGRES_DB=giga-house
POSTGRES_USER=giga-house
POSTGRES_PASSWORD=hmm-i-GIGA-wonder


GIGAHOUSE_APP_NAME=GIGAHouse API
GIGAHOUSE_ENVIRONMENT=development
GIGAHOUSE_DEBUG=false
GIGAHOUSE_DATABASE_URL=postgresql+psycopg://giga-house:i-giga-wonder-whats-the-giga-password@localhost:5432/giga-house